#dialog{:title => "Fluency"}
  %h2 What is Fluency?
  %p By then end of First grade readers should be able to:
  %ul
    %li read with expression at about the same speed at which they speak
    %li read 3 to 5 words together in phrases
    %li recognize most words instantly and not struggle with too many individual words
    %li self-correct small mistakes and figure out new words
</div>