.fr
  %button.comment_button
    %h4 Comment to teacher
%form.comment_form
  %p.bottom Your Comment
  %textarea#comment_text_area
.fr.comment_buttons
  %button.comment_cancel
    %h4 Cancel
  %button.comment_submit
    %h4 Send
.comment_reply
  %p Thank you! Your message has been posted via SLC
.clear-float