%header#header
  .title
    %h1
      =@title
  .fr
    =image_tag("3r-radar.png")
    <br />
    .fr
      %a{:href => '/home'} [Home] |
      %a{:href => '/logout'} [Sign out]

  .clear-float

  -#%hr